:root{
    --bg-color:#001a1a;
    --size:30px;
    --font:bold;
    --bg:#338080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    transform: translateX(1px);
}

.grid-item{
    background:var(--bg-color);
    height: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item h1{
    color: white;
    font-size: var(--size);
    font: var(--font);

}

.grid-one{
    width: 100%;
    lost-utility:cleatfix;
}
.grid-one div{
    lost-column:1/2;
}

@media (max-width: 768px){
    body {
        transform: translateX(0);
    }
    .grid-one div{
        lost-column:1/1;
    }
}